body {
    background-color: #f8f9fa;
    color: #333;
}

.navbar-brand {
    font-weight: bold;
}

section img {
    transition: transform 0.3s ease-in-out;
}

section img:hover {
    transform: scale(1.1);
}

.profile-image {
    width: 150px; /* Set desired size */
    height: 150px; /* Same as width to make it square */
    object-fit: cover; /* Ensures the image fills the square */
    display: block;
    margin: 0 auto; /* Center the image */
}
